*{
    box-sizing: border-box;
    
}
body { 
    /* background-color: rgb(165, 182, 162); */
  /* width: 100%;  */
   
}

header {
  margin-left: 5%;
    background-color: rgb(68, 68, 82);
    width:90%;
    height: 120px;
   

}
section img {
    width: 15%;
    
        margin: 30px;
        position: relative;

        bottom: 17px;
      }
      li {
       
        
        position: relative;
    bottom: 100px;
    left: 400px;
    padding-left: 70px;
    }


nav ul li {
    
    display:inline;
    
    
    font-size: 20px;
    font-weight: bolder;
    color: rgb(118, 118, 129);
    
    
}
main {
    width:80%;
}


main section img   {

    margin-left:  20%;
    margin-top: 4%;
  width: 88%;

 
    
}
div img { 
    width:30%;
    position: relative;
    left: 18%;
    padding-left:25px ;
}

article img {width: 40%; 
    position: relative;
    left: 20%;
    margin-top: 40px

}
h2 { 
    text-align:justify;
    font-size: 20px;
    font-weight: 900;
position: relative;
left: 10%;

}


aside { width: 40%; float: right; position: relative; top: 45px;
}
article aside p { 
    font-size: 18px;
    color: rgba(17, 16, 16, 0.863);
    text-align: justify;
    padding-left: 50px;
    font-family:cursive;
    font-weight: bolder;
}


 
      h3 {
        background-color: rgb(4, 4, 5);
        border-radius: 25px;
        color: rgb(247, 242, 242);
        width: 30%;
        
      
        font-size: 16px;
        
      text-align: center;
        padding-left: 40px;
       
        margin: 26px;
       position: relative;
       bottom: 20px;
        
    }
    h3:hover {
        background-color: rgb(201, 106, 43);
        
    }
      



article{
    margin-bottom: 60px;
}
footer :empty {
    background: rgb(68, 68, 82);
    width: 115%;
    height: 120px;
    margin-left: 5%;
    position: relative;
    top: 60px;
  }

/* p:empty {
    background: #ff0000;
  } */


/* header section article nav ul li  {
    display: inline;
    margin: 10px 10px ;
} */


